<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="col col-lg-3 col-md-4 col-sm-2">
                <div class="footer__footerLogo">
                    <a href="/">
                        <img  class="footer__footerLogo--img" src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="logo">
                    </a>
                    <p>F8 là nơi học lập trình miễn phí.</p>
                    <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                    <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                    <br>
                    <p>© 2019 MyCV JSC. All rights reserved.</p>
                </div>
            </section>
            <section class="col col-lg-3 col-md-4 col-sm-2">
                <h6>F8</h6>
                <ul>
                    <li>Giới thiệu</li>
                    <li>Tuyển dụng</li>
                </ul>
            </section>
            <section class="col col-lg-3 col-md-4 col-sm-2">
                <h6>Sản phẩm</h6>
                <ul>
                    <li>
                        <a href="https://url.mycv.vn/?ref=f8_footer&to=mycv">Viết CV xin việc</a>
                    </li>
                    <li>
                        <a href="/">Học lập trình online</a>
                    </li>
                    <li>
                        <a href="https://url.mycv.vn/?ref=f8_footer&to=f8_youtube">Kênh youtube F8</a>
                    </li>
                    <li>
                        <a href="https://url.mycv.vn/?ref=f8_footer&to=f8_fb_group">Nhóm facebook F8</a>
                    </li>
                </ul>
            </section>
            <section class="col col-lg-3 col-md-4 col-sm-2">
                <h6>Đối tác</h6>
                <ul>
                    <li>
                        <a href="https://macintosh.vn/?ref=f8">Tải phần mềm Macbook</a>
                    </li>
                </ul>
            </section>
            <section class="col col-lg-3 col-md-4 col-sm-2">
                <h6>Theo dõi chúng tôi</h6>
                <p>Nhập email để đăng ký nhận những thông tin mới nhất từ F8</p>
                <input type="text" name="email" id="" >
            </section>
        </section>
    </section>
</footer>