<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="column">
                <div class="footer__footer-0logo">
                    
                </div>
            </section>
        </section>
    </section>
</footer>