<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="column">
                .footer
            </section>
        </section>
    </section>
</footer>