<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="column">
                <div class="footer__footerLogo">
                    <a href="/" class="">
                        <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="">
                    </a>
                </div>
            </section>
        </section>
    </section>
</footer>