<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="column">
                <div class="footer__footerLogo">
                    <a href="" class=""></a>
                </div>
            </section>
        </section>
    </section>
</footer>