<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="column">
                <div class="footer__footerLogo">
                    <a href="/" class="footer__footerLogo--img">
                        <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="logo">
                    </a>
                    <p>F8 là nơi học lập trình miễn phí.</p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </section>
        </section>
    </section>
</footer>