<footer class="footer">
    <section class="grip">
        <section class="row">
            <section class="col col-2">
                <div class="footer__footerLogo">
                    <a href="/">
                        <img  class="footer__footerLogo--img" src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="logo">
                    </a>
                    <p>F8 là nơi học lập trình miễn phí.</p>
                    <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                    <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                    <br>
                    <p>© 2019 MyCV JSC. All rights reserved.</p>
                </div>
            </section>
            <section class="col col-2"></section>
            <section class="col col-2"></section>
            <section class="col col-2"></section>
            <section class="col col-2"></section>
        </section>
    </section>
</footer>