<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img style="height:32px; width:128px;" src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" alt="F8 education"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="nav-content">
          <li class="nav-item active">
            <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="/"> Khóa Học</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="#">Cộng đồng</a>
          </li>
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://avatar-redirect.appspot.com/google/106487869296775255396?size=400" alt="" class="user-avatar">
            Nguyen Hung
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-item-icon fas fa-cog"></i>
              Cài đặt
            </a>
             <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-item-icon fas fa-sign-out-alt"></i>
              Đăng xuất
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>