@import 'variables';
.showCourse{
    transition: all 0.5s ease;
    h2{
        color: $orange-color;
        font-weight: 400;
        margin:0 auto;
        font-size: 3.2rem;
        opacity: 0.8;
    }
    button{
        color: $white-color;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 300;
        border: none;
        border-radius: 8px;
        margin: 1.6rem auto;
        background:$orange-color;
        padding:0 24px;
        min-width: 150px;
        box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
    }
    li{
        margin:10px 0;
        font-size: 1.2rem;
    }
}