@import 'variables';
.showCourse{
    h2{
        disp
        color: $orange-color;
        font-weight: 400;
        padding: 2rem 0;
    }
    button{
        color: $white-color;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 300;
        border: none;
        border-radius: 16px;
        background:$orange-color;
        padding:0 24px;
    }
}