@import 'variables';
.showCourse{
    h2{
        color: $orange-color;
        font-weight: 400;
        margin:0 auto;
        font-size: 2rem;
    }
    button{
        color: $white-color;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 300;
        border: none;
        border-radius: 16px;
        margin: 1.6rem auto;
        background:$orange-color;
        padding:0 24px;
    }
    li{
        margin:10px 0;
        font-size: 1.2rem;
    }
}