@import 'variables';
.showCourse{
    h2{
        color: orange-color;
    }
    button{
        color: $white-color;
        font-size: 1.6rem;
        text-transform: uppercase;
        border: none;
    }
}