<div class="mt-4">
    <form method="post" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1"  placeholder="Nhập từ khóa....">
  </div>

   <div class="form-group">
    <label for="gender-input">Giới tính</label>
    <section  name="q" class="form-control" id="gender-input"  >
        <option value="">Chọn giới tính</option>
        <option value="male"></option>
        <option value=""></option>
    </section>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>