<div class="showCourse mt-4">
    <div class="row">
           <div class="col-lg-9">
           
        </div>
        <div class="col-lg-3">
            <h2>Miễn Phí</h2>
            <button>HỌC NGAY</button>
            <ul>
                <li>
                    <i class="fas fa-tachometer-alt"></i>
                    Trình độ: {{course.level}}
                </li>
                <li>
                    <i class="fas fa-film"></i>
                    Số lượng bài học: {{course.countLesson}}
                </li>
                <li>
                    <i class="fas fa-clock"></i>
                    Thời gian học: {{course.timeLesson}}
                </li>
                <li>
                    <i class="fas fa-battery-three-quarters"></i>
                    Học mọi lúc, mọi nơi.
                </li>
            </ul>
        </div>

     
    </div>
</div>